<div class="wrapper fadeInDown" *ngIf="checkData !='Sucessfull' && checkData !='failed' ">
  <div id="formContent">
    <br>
    <h1>Register here to Chat</h1>
    <br>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" id="username" class="fadeIn second" name="username" [(ngModel)]="userObj.username"
            placeholder="Enter your name">
        </div>
        <div class="col">
          <input type="text" id="mobile" class="fadeIn second" name="mobile" [(ngModel)]="userObj.mobile"
            placeholder="Enter your mobile number">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" id="password" class="fadeIn third" name="password" [(ngModel)]="userObj.password"
            placeholder="Enter your password">
        </div>
        <div class="col">
          <input type="text" id="confirmpassword" class="fadeIn third" name="confirmpassword"
            [(ngModel)]="userObj.confirmpassword" placeholder="Confirm Your Password">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" id="mail" style="width: 93%" class="fadeIn third" name="mail" [(ngModel)]="userObj.mail"
            placeholder="Enter your mailid">
        </div>
      </div>
      <input type="submit" (click)="register()" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>



<div class="container" *ngIf="checkData=='Sucessfull'">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <br>
      <h1 style="color: lightgreen">Login Sucessfull</h1>
    </div>
  </div>
</div>
<div class="container" *ngIf="checkData=='failed'">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <br>
      <h1 style="color: lightgreen">Login failed</h1>
    </div>
  </div>
</div>
