<br><br>
<div class="container">
  <div class="row" *ngFor="let u of users">
    <button class="btn btn-primary" (click)="connect(u.id)">{{u.name}}</button> &nbsp;
  </div>
</div>
<hr>
<h3>my connetions</h3>
<div class="container">
  <div class="row" *ngFor="let u of myConn">
    <button class="btn btn-primary">{{u.name}}</button>
  </div>
</div>
<div class="container" style="border: 2px solid black;border-radius: 5px;">
  <div class="row">
    <div class="well" style="height:200px; padding:15px;">
      <div *ngFor="let item of messageArray">
        <span>{{item.userId}} <strong>{{item.userName}} : </strong> {{item.message}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="messageText" placeholder="Enter your message here...">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success pull-right" (click)="senduMessage()">Send</button>
    </div>
  </div>
  <br>
</div>
