<div class="container-fuild">
  <div class="container">
    <br>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" style="width: 100%" routerLink="login/login">Login</button>
      </div>
      <div class="col" >
        <button class="btn btn-primary" style="width: 100%" routerLink="login/signup">Register</button>&nbsp;
      </div>
      <div class="col" *ngIf="checkData">
        <button class=" btn btn-primary" style="width: 100%" (click)="logout()">Logout</button>&nbsp;
      </div>
    </div>
  </div>
</div>
<section>
  <div class="bgPulse">
    <span></span>
    <span></span>
    <span></span>
    <router-outlet></router-outlet>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>
